@import "tailwindcss";

/* Force cursor pointer on all interactive elements globally */
button,
a,
select,
[role="button"],
[role="option"],
[type="submit"] {
    cursor: pointer !important;
}

/* Hide scrollbar globally for all elements */
* {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}

*::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari and Opera */
}
