@import "tailwindcss";

button,
a,
select,
[role="button"],
[role="option"],
[type="submit"] {
    cursor: pointer !important;
}

/* Hide vertical scrollbar, but keep horizontal */
* {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
}

*::-webkit-scrollbar {
    width: 0px !important; /* Hides vertical */
    height: 10px !important; /* Shows horizontal */
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
}
